main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

canvas {
    background: #F6E8EA;
}

p {
    position: absolute;
    color: #22181C;
    font-size: 75px;
    font-weight: 800;
}

a {
    position: absolute;
    color: #22181C;
    font-size: 50px;
    font-weight: 800;
    margin-top: 150px;
    text-decoration: none;
}

.centered {
    width: 100vw;
    height: 5px;
    background: cadetblue;
    position: absolute;
    top: calc(50% - 2.5px);
}

.scoreboard {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}

#GameOBox {
    display: hidden;
    position: absolute;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    transition: 1s;
}

#GameO {
    position: relative;
}

#score {
    position: relative;

    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */

}

#Reini {
    position: relative;
}